extends layout

block content
  h1 Occupado 
    span.slogan Everybody poops.
    span.viewer-count
      #{viewers}  people watching
  .br-status-container
    div(class="bathroom-status-header") 3rd Floor - 1
    div(class="bathroom-status-header") 3rd Floor - 2
    div(class="bathroom-status-header") 4th Floor - 1
    div(class="bathroom-status-header") 4th Floor - 2 
    br
    - each o in occupied
      if o
        - var klass = (o.in_use === true ? 'Occupado' : 'Available')
        div(class="bathroom-status #{klass}" id="bathroom_status_#{o.br_id}") #{klass}
  .br-stats-container
    - each o in occupied
      if o
        div(class="bathroom-stats-box" id="bathroom_average_#{o.br_id}")
          span.number #{o.average} seconds
          br
          span.average Average Time
  .br-stats-container
    - each o in occupied
      if o
        div(class="bathroom-stats-box" id="bathroom_count_#{o.br_id}")
          span.number #{o.uses.length}
          br
          span.total Total Uses
  .br-stats-container
    - each o in occupied
      if o
        div(class="bathroom-stats-box gold" id="bathroom_burn_#{o.br_id}")
          span.number $#{o.total_burn}
          br
          span.total Total Spent
  .br-stats-container
    - each o in occupied
      if o
        - var percent_up = Math.round((o.total_likes/(o.total_likes + o.total_dislikes))*100);
        - var percent_down = Math.round((o.total_dislikes/(o.total_likes + o.total_dislikes))*100);
          .rate-container
            div(class="ratebox" onclick="dislike(#{o.br_id})")
              i.fa.fa-thumbs-o-down.fa-4x.fa-flip-horizontal
              span(class="rating" id="bathroom_#{o.br_id}_dislikes" value="#{o.total_dislikes}") #{percent_down}%
            div(class="ratebox" onclick="like(#{o.br_id})")
              i.fa.fa-thumbs-o-up.fa-4x
              span(class="rating" id="bathroom_#{o.br_id}_likes" value="#{o.total_likes}") #{percent_up}%